body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url("img/galaxy1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 850px) {
  .container {
    width: 100%;
  }
  .landing-page .container #logo{
    padding-right: 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

@media (min-width: 500px) and (max-width: 890px)  {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
  .landing-page header .links {
    padding: 20px;
  }
  .landing-page .container .site-name{
    padding: 50px;
  }
  .landing-page .content .container {
    justify-content: center;
    flex-direction: column;
  }
  .landing-page .content .info {
    text-align: center;
  }
  .content .container button{
    padding: 50px;
    margin-top: -70px;
  }
  .content .container .info{
    font-size: 20px;
  }
}

.landing-page header {
  min-height: 80px;
  align-items: center;
  border-bottom: 2px solid transparent; 
  backdrop-filter: blur(20px); 
}

.landing-page header .links li {
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.landing-page header .links li:hover {
  color: #6c63ff;
}
  
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info{
  height: 100%;
}

.landing-page .content .info h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, #ffffff, #0095ff, #ffffff, #00d0ff, #00d0ff);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; /* Make text transparent to reveal gradient */
}


.landing-page .content .info pre {
  line-height: 2;
  font-size: 20px;
  margin-top: -40px;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
  
.landing-page .content .info button {
  border: 2px solid #6c63ff; 
  border-radius: 20px;
  width: 200px;
  height: 50px;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #6c63ff; 
  background-color: transparent; 
  transition: background-color 0.3s ease, color 0.3s ease;
  
}
  
  .landing-page .content .info button:hover {
    background-color: #6c63ff;
    color: #ffffff; 
  }
  
 #logo {
    width: 110px;
 }


 .info{
  padding-bottom: 50px;
 }


/* Header */
.landing-page header {
  padding: 20px 0;
}

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .site-name {
  font-size: 45px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
  font-family: cursive;
  text-transform: uppercase;
  outline: none;
  animation: animate 7s linear infinite;
  cursor: pointer;
}

@keyframes animate {
  0%, 18%, 20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
      box-shadow: none;
      color: #000000d4        
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 93.1%, 100%
  {
      text-shadow: 0 0 10px #03bcf4,
          0 0 20px #03bcf4,
          0 0 40px #03bcf4,
          0 0 80px #03bcf4,
          0 0 160px #03bcf4;
      color: #ffffff
  }
}
.landing-page header .site-name:hover {
  transform: scale(1.1); /* Scale up the text slightly on hover */
}


.landing-page header .links ul {
  display: flex;
}

.landing-page header .links ul li {
  margin-right: 20px;
}

.landing-page header .links ul li a {
  color: #fcfcfc; 
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  transition: color 0.5s, transform 0.3s; 
  position: relative; 
}

.landing-page header .links ul li a::before {
  content: ''; 
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.9s;
}

.landing-page header .links ul li a:hover {
  color: #6c63ff;
  transform: translateY(-10px); 
}

.landing-page header .links ul li a:hover::before {
  background-color: #9b5de5;
}


.social-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links ul li {
  display: inline-block;
  margin-right: 50px;
}

.social-links ul li a img {
  width: 50px;
  height: 50px;
}

